/* LOGIN */
.login-container {
    background-color: black;
    width: 500px !important;
    padding-bottom: 100px;
    /* margin-top: 100px; */
    border-radius: 20px;
}

.container-login-dasar {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #F8E0AB;
}

.form-form-login-admin {
    width: 320px;
}

.form-form-login-admin label {
    color: white;
}

.btn-warning {
    background-color: #b4944a !important;
    border-color: #46391a !important;
    color: white !important;
}

.btn-warning:hover {
    background-color: #46391a !important;
}
