@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  /* border: 1px solid red; */
}

.btn {
  background-color: #007f61;
  /* width: 100%; */
}

input {
  outline: none !important;
}

.input-group input.form-control:focus {
  outline: none !important;
  box-shadow: 0 0 5px rgba(0, 255, 242, 0.5), 0 0 0 2px #007f61; 
}

a {
  color: #007f61;
}

a:hover {
  color: #004f41;
}

/* LOGIN */
.center-container {
  margin-right: 10rem;
  margin-left: 10rem;
  padding-right: 4rem;
  padding-left: 4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border: 3px solid #007f61;
  border-radius: 20px;
  background-color: #f6f6f6;
}

.center-container h3 {
  font-weight: 700;
  color: #007f61;
}

.container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  /* min-height: 100vh; */
}

.login {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.login img {
  width: 130px;
  margin-bottom: 3rem;
}

.login h4 {
  font-weight: 600;
}

.contact {
  background-color: #007f61;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #ffffff;
  box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.2);
  /* 1. horizontal offset. negative will make the shadow to be at the left, positive move it to the right
      2. vertical offset. negative move it to top, positive move it down
      3. blur radius. defines how blurry the shadow appears, the higher the number the softer
      4. shadow color.
  */
}
.forget {
  font-size: 15px;
}
